body {
    background-color: whitesmoke;
    margin: 40px;
    font-size: 1em
}
h3 {
    text-align: center
}
.btn-small{
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}
.task_header {
    margin-top: 0;
}