{% extends 'base.html' %}
{% block stuff %}

<ul class="collapsible" data-collapsible="accordion">
    {% for task in tasks %}
    
    <li>
        <div class="collapsible-header"><i class="material-icons">arrow_downward</i>
            <p><strong>{{ task.task_name }}</strong> -  Due: {{ task.due_date }}</p> - 
        </div>

        <div class="collapsible-body">
            <span><p>Desc: {{ task.task_description }}</p> - <p>Urgency: {{ task.is_urgent }}</p></span>
            <p>Category: {{ task.category_name }}</p>
            <p></p>
        </div>
    </li>

    {% endfor %}
</ul>

{% endblock %}