{% extends 'base.html' %}
{% block stuff %}

<ul class="collapsible" data-collapsible="accordion">
    {% for task in tasks %}
    
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>
            {{ task.task_name }} - {{ task.due_date }}
        </div>

        <div class="collapsible-body">
            <span>{{ task.task_description }} - {{ task.is_urgent }}</span>
            {{ task.category_name }}
        </div>
    </li>

    {% endfor %}
</ul>

{% endblock %}